body {
  font-family: "Open Sans", sans-serif;
  background-color: #ebebeb;
}
body .wrapper {
  width: 100%;
  background-color: white;
}

a {
  /*
      Getting rid of default formatting for <a> elements. `inherits` tells that
      `a` elements should use the value set on its parent for these properties.
  */
  text-decoration: inherit;
  color: #1b1b1b;
}

.header {
  display: flex;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
  height: 75px;
  padding: 0 10px;
  background-color: #ffffff;
}
.header .logo {
  width: 180px;
}
.header .nav-links {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
.header .nav-links a {
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
}
.header .nav-links a:hover {
  background-color: #eee;
}
.header .buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
.header .buttons a {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #72ac51;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .buttons a:hover {
  background-color: #47752d;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* Define two columns */
  grid-template-rows: auto;
  /* Define the row size */
  gap: 0 20px;
  align-items: center;
  width: 1070px;
  margin: 0 auto;
  align-items: start;
  padding-top: 20px;
}
.page-content .page-content-left {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  /* Place in the first row */
  grid-column: 1;
  /* Place in the first column */
  font-size: 18px;
  background-color: #ffffff;
}
.page-content .page-content-left hr {
  border: none;
  border-top: 2px solid #ababab;
  margin: 0;
}
.page-content .page-content-left .menu-item {
  padding: 20px;
}
.page-content .page-content-left .menu-item:hover {
  background-color: #72ac51;
}
.page-content .page-content-left .menu-item:hover a {
  color: #ffffff;
}
.page-content .center {
  grid-row: 1;
  /* Place in the first row */
  grid-column: 2;
  /* Place in the second column */
}
.page-content .center h1 {
  font-size: 36px;
  font-weight: 400;
  padding: 20px;
  padding-bottom: 10px;
  color: #565656;
}
.page-content .center .about {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.page-content .center .about .article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.page-content .center .about .article h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 30px;
  color: #1b1b1b;
}
.page-content .center .about .article p {
  font-size: 15px;
  font-weight: 400;
  padding-left: 30px;
  color: #1b1b1b;
}

.login-content {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  width: 570px;
}
.login-content .log {
  background-color: #ffffff;
  padding-top: 67px;
  padding-left: 60px;
  padding-bottom: 60px;
}
.login-content .log h1 {
  font-size: 32px;
  font-weight: 400;
}
.login-content .log form input {
  width: 450px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.login-content .log form [type=email], .login-content .log form [type=password] {
  font-size: 16px;
  height: 45px;
  outline-color: #47752d;
}
.login-content .log form [type=email]:invalid, .login-content .log form [type=password]:invalid {
  outline-color: #ff0000;
}
.login-content .log form [type=submit] {
  font-size: 14px;
  height: 42px;
  border: none;
  border-radius: 25px;
  background-color: #72ac51;
  color: #ffffff;
}

/*# sourceMappingURL=output.css.map */
